.no-found-cta {
  color: var(--clr-white);
  font-weight: 600;
}

.no-found-cta:hover {
  background-color: var(--clr-grey-10);
}

.no-found-heading {
  margin-top: -2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 729px) {
  .no-found-heading {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .no-found-heading {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .no-found-heading {
    font-size: 0.8rem;
  }
}
